.cards {
	border-left: 1px solid #444;
	border-right: 1px solid #444;
	width: 500px;
	padding: 3%;
	display: inline-block;
	margin: 0 3vw;
}

.card {
	display: block;
	height: 16vh;
	width: 92%;
	border-radius: 7px;
	background: #222;
	margin: 0;
	padding: 4%;
	text-anchor: center;
	position: relative;
	overflow: hidden;
	margin-top: 20px;
}
.card * {
	text-align: left;
}

.name {
	font-size: 34px;
	margin-top: -5px;
	margin-lefT: -5px;
}
.email {
	font-size: 18px;
}
.id {
	font-size: 14px;
	position: absolute;
	bottom: 15px;
	right: 10px;
}
.address{
	font-size: 20px;
	margin-top: 10px;
}

.phone {
	float: right;
}
.phone strong{
	font-size: 20px;
}
.phone p{
	font-size: 18px;
	margin: 0;
}

.class{
	display: block;
	font-size: 16px;
	bottom: 15px;
	left: 10px;
	position: absolute;
}
.grade{
	display: inline;
	font-size: 16px;
}

.signed-up{
	position: absolute;
	right: 10px;
	bottom: 35px;
	font-size: 14px;
}


.searchbar {
	width: 100%;
	margin-bottom: 100px;
	margin-left: -2%;
}
.searchbar label{
	color: #aaa;
	font-size: 24px;
	text-align: center;
	margin-left: 3%;
}
.search-input {
	width: 100%;
	border-radius: 5px;
	height: 30px;
	border: 2px solid #555;
	background-color: #222;
	color: white;
	outline: none;
	font-size: 20px;
	font-family: inherit;
	padding: 0 5px;
}