body{
    background-color: [[themeoffwhite]];
    font-family: calibri, sans-serif;
    padding: 0;
    overflow-x: hidden;
    margin: 0;
}

.navbar{
    background-color: [[themeblue]];
    position: fixed;
    margin: 0;
    height: 70px;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid #999;
    z-index: 1000;
    top: 0;
}
.navbar *{
    color: #fff;
    text-decoration: none;
    font-family: arial, sans-serif;
    overflow: hidden;
    position: relative;
    user-select: none;
    -moz-user-select: none;
}

.navbar-items{
    list-style: none;
    font-size: 24px;
    float: right;
    margin: 0;
    padding: 0;
    height: 100%;
}
.navbar-items li{
    text-align: center;
    padding: 21px 0px;
    width: 120px;
    margin: 0;
    height: 100%;
    display: inline;
    float: left;
    letter-spacing: 0px;
}
.navbar-items a{
    display: block;
    height: 100%;
    width: 100%;
}
.navbar-items li:hover, .active{
    background-color: #00429c;
}

.navbar-header{
    font-size: 40px;
    font-weight: bold;
    float: left;
    padding: 10px;
    padding-left: 20px;
}
.navbar-header a:hover{
    color: #ddd;
}

.reboot-controls{
    display: inline-block;
    padding: 0;
    margin: 15px 100px;
}
.ctrl-button{
    color: white;
    background-color: [[themeblue]];
    margin: 0;
    margin-right: 20px;
    padding: 0;
    width: 100px;
    height: 40px;
    display: inline;
    text-decoration: none;
    font-size: 16px;
    border: 3px solid #00429c;
    outline: none;
}
.ctrl-button:hover{
    cursor: pointer;
    background-color: #069;
}
.ctrl-button:active{
    border: 1px solid #049;
}

.page-container{
    background-color: white;
    height: 1000px;
    width: 85%;
    margin: 0;
    top: 110px;
    position: relative;
    border: 0px solid [[themeblue]];
    border-radius: 0px;
    box-shadow: 0 0 20px #d5d5d5;
    padding: 20px;
}

.singular-form{
    position: relative;
    margin-top: 0px;
    text-align: left;
    display: block;
    margin-left: 0;
    width: 12%;
    padding: 20px;
}
.singular-form p{
    width: 100%;
    font-size: 20px;
}
.singular-form-header{
    text-align: center;
    margin: 0;
    margin-top: 12%;
    font-size: 60px;
}
.singular-form input{
    margin-left: -7px;
    margin-bottom: 20px;
    margin-top: 5px;
    border: 1px solid [[themegrey]];
    border-radius: 2px;
    font-size: 20px;
    padding: 5px;
    width: 100%;
    font-family: inherit;
}
.singular-form *{
    display: inline;
    outline: none;
}

.info-bar{
    background-color: [[themeblue]];
    width: 100%;
    height: 150px;
    bottom: 0%;
    margin-top: 170px;
    padding: 10px;
    position: relative;
    color: white;
    display: block;
    overflow: hidden;
}

.disabled{
    background-color: #aad !important;
}